/* This file is for your main application css. */
.logo {
	height: 91px;
	background-size: 519px 91px;
}

@media (min-width: 768px) {
	.container {
		max-width: 1130px !important; 
	}	
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{ 
	background-color: white !important;
	text-align: center;
}

