<div class="jumbotron">
  <h2>MBTA Departures</h2>
<%= @current_time %>
<%= # Only display table if there are any departures. %>
<%= if Enum.empty?(@departure_body) do %>
<p>There are currently no scheduled departures, please check back later.<p>
<% else %>
<table class="table">
	<thead>
		<tr>
		<%= Enum.map(@departure_headings, fn column -> %>
			<th><%= column %></th>
		<% end) %>
		</tr>
	</thead>
	
	<tbody>
		<%= Enum.map(@departure_body, fn row -> %>
		<tr>
			<%= # We ignore the first column because it is the current time stamp %>
			<td><%= Enum.at(row, 1) %></td>
			<td><%= Enum.at(row, 2) %></td>
			<td><%= Enum.at(row, 3) %></td>
			<td><%= Calendar.DateTime.Parse.unix!(Enum.at(row, 4)) |> Calendar.DateTime.shift_zone!("EST") |> Calendar.Strftime.strftime!("%l:%M %p") %></td>
			<td><%= Enum.at(row, 5) %></td>
			<td><%= Enum.at(row, 6) %></td>
			<td><%= Enum.at(row, 7) %></td>
		</tr>
		<% end) %>
	</tbody>
</table>
<% end %>
</div>
